/* Eliminar el margen y espaciado interno predeterminado */
* {
   margin: 0;
   padding: 0;
}

/* Declaración de variables */
:root {
   --color1: #d93030;
   --color2: #c95757;
   --color3: #182940;
   --color4: #ff0000;
   --color-gris-oscuro: #454545;
}


/* Selector de estilo de tipo HTML */
body {
   color: var(--color5);
   /* Color del texto */
   background-color: white;
   /* Color del fondo */
   font-family: 'Poppins', sans-serif;
}

h1 {
   font-size: 48px;
   /* Tamaño de la letra */
   font-weight: 900;
   /* Grosor de la letra */
   text-transform: capitalize;
   text-align: center;
}

h2 {
   font-size: 40px;
   font-weight: 400;
}

h3 {
   padding-right: 100%;
   font-size: 15px;
   color: gray;
   font-weight: 150;
   /* Grosor de la letra */

}

h4 {
   margin-left: 70%;
   font-size: 15px;
   text-decoration: line-through;
   color: gray;
   font-weight: 150;
}

h5 {
   margin-left: 70%;
   font-size: 15px;
   color: rgb(202, 29, 29);
   font-weight: 550;
}

img {
   /* Eliminar el espacio predetermindo que aparece debajo de la imagen */
   display: block;
}

/*h1, h2, h3 {
    margin-bottom: 10px;
 }
 
 p {
    margin-bottom: 20px;
    line-height: 1.5;
 }
 
 a {
    color: var(--color1);
    text-decoration: none;
 }
 
 
 
/*setear la pagina*/

body {

   max-width: 1500px;
   margin: auto;
}

/*header*/
#logo img {
   margin-left: 50px;
   margin-right: 500px;
   height: 80px;
   width: 80px;
}

header {
   display: flex;
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   background-color: #f11004;
   width: 100% !important;
}

.titulo2 {
   text-align: justify;
   padding-bottom: 3px;
   padding-top: 10px;
   color: #ffffff;
   font-size: 19px;
   font-weight: bolder;
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   top: 30px;
   left: 20%;
}

/* Selectores de tipo CLASS */
.espaciado {
   padding-top: 90px;
   padding-bottom: 90px;
}

.contenedor {
   /* Ancho máximo para la caja contenedora */
   max-width: 1200px;

   /* Centra horizontalmente la caja contenedora */
   margin-left: auto;
   margin-right: auto;

}

.fila {
   /* Coloca las cajas internas, una al lado de la otra, en dirección de una fila */
   display: flex;

   /* Truco: Elimina el espacio izquierdo de la primera caja y 
    el espacio derecho de la última caja hijo */
   margin-left: -15px;
   margin-right: -15px;
}

.columna {
   flex-basis: 0;
   /* Ancho mínimo para una caja hijo */
   flex-grow: 1;
   /* Ajusta el ancho proporcionalmente a cada una de las cajas hijo */

   /* Espacio interno para separar una caja de la otra */
   padding-left: 15px;
   padding-right: 15px;
}

.img-ajustar {
   width: 80%;
   /* Permite ajustar el ancho de la imagen al ancho de la caja padre */
   height: auto;
   /* Ajusta proporcionalmente la altura según el ancho */
}

.alinear-vertical {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.texto-enorme {
   font-size: 38px;

   /* Unidad de medida porcentual respecto al tamaño de la letra */
   line-height: 1.2em;
   /* Interlineado */

   /* Efecto de sombra en el texto */
   text-shadow: 4px 4px 2px rgba(253, 252, 240, 0.6);
}

.texto-resaltado {
   color: white;
   font-weight: bold;
   /* negrita */
}

div.galeria {
   margin: 10px 10px;
   float: left;
   width: 200px;
   border: 1px solid rgb(209, 205, 205);
}

div.galeria img {
   width: 100%;
   height: auto;
}

div.galeria:hover {
   border: 1px solid black;
}

div.pie {
   text-align: center;
}

/* Ajusta el ancho de la caja al 66.66% del tamaño de su contenedor */
.columna-66 {
   flex-basis: 66.66%;
   max-width: 66.66%;
}

/* Para dar un efecto de caja que se superpone en otras áreas */
.columna-mover {
   margin-top: -60px;
   margin-bottom: -60px;
}

#producto {
   background-color: white;
   color: black;
}

#producto-foto-contenedor {
   display: flex;
   margin-top: 1px;
   margin-bottom: -200px;
   background-image: url(imagen69.png);
   background-repeat: no-repeat;
}

#producto-foto-descripcion {
   position: relative;

   background-color: rgba(24, 41, 64, 0.8);
   color: var(--color5);
   width: 40%;
   padding: 10px 20px;
   box-sizing: border-box;

   /* Coordenadas */
   top: 0px;
   /* top / bottom */
   right: 0px;
   /* left / right */
}

.espaciado {
   padding-top: 90px;
   padding-bottom: 90px;
}

#banner1 {
   /* Imagen de fondo */
   /* ../ permites salir a la carpeta padre para buscar archivos */
   background-image: url("./293590082_5401960709852999_8926576943293560303_n.jpg");

   /* Para que la imagen cubra toda el área que sea posible */
   background-size: cover;

   /* Destaca la posición de la imagen que se desea mostrar
    en la sección */
   background-position: center;
   /* center top left right bottom */

   /* Fija la imagen en contenedor con respecto al desplazamiento (scroll)
    realizado en el navegador */
   background-attachment: fixed;

   /* Alineación del texto */
   text-align: left;
   color: white;
}

/*footer*/
footer {
   display: flex;
   background-color: #fd0000;
   height: 300px;
   font-size: 10px;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-top: 20px;
   text-align: center;
   margin-top: 5px;

}


.foot #iconos {
   display: flex;
   width: 150px;
   font-size: 20px;
   position: relative;
   top: 12px;

}

.foot img {
   height: 160px;
   border-radius: 6px;

}


.foot {
   width: 380px;
}


.foot .titulo {
   text-align: center;
   padding-bottom: 3px;
   padding-top: 8px;
   color: #ffffff;
   font-size: 16px;
   font-weight: bolder;
   font-family: Arial, Helvetica, sans-serif;
}

.foot .titul {

   padding-bottom: 10px;
   padding-top: 15px;
   color: #ffffff;
   font-size: 16px;
   font-weight: bolder;
   font-family: Arial, Helvetica, sans-serif;
}

.foot .titul:hover {
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
   text-overflow: clip;
}

.caja1 p {
   text-align: justify;
}

.foot .datos {
   font-size: 16px;
   color: #ffffff;
   text-align: center;
   font-weight: bolder;
   font-family: Arial, Helvetica, sans-serif;
}

.caja2 {
   display: flex;
}

button {
   width: 100%;
   height: 44px;
   margin: 0 auto;
   background: #ec1c24;
   border-radius: 4px;
   padding-top: 0.25em;
   padding-bottom: 0.32em;
   border-color: #ffffff;
}

#boton-texto {
   margin-top: -20px;
   text-align: center;
   line-height: 20px;
   font-weight: bold;
   color: #ffffff;
}

#boton-img {
   color: #ffffff;
   height: 30px;
   height: 30px;
   margin-top: 0px;
   margin-left: 20px;
}

#button-lista {
   width: 15%;
   border-color: #ec1c24;
   background-color: #ffffff;
   align-items: center;
}

#img-lista {
   padding: 5px;
}

.margin-img {
   height: 30px;
   height: 30px;
}

.accesos {
   align-self: flex-end;
   display: flex;
   margin-right: 0px;
   width: 20%;
}

a{
   margin: 5px;
}

#texto-centro{
   margin-top: -60px;
   font-size: 25px;
   border-bottom: #ec1c24;
}

#details-top{
   margin-bottom: 290px;
}

.cuadrod {
   display: block;
   height: 30px;
   width: 60px;
   color: #ffffff;
   align-items: center;
   background-color: #ff0000;
   font-size: 18px;
   padding-left: 10px;
   margin-top: 10px;
   margin-left: 10px;
}